body{
    width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    text-align: center;
    color: red;
    margin: 0px;
    margin-bottom: 20px;
}
#content{
    width: 800px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
}
table{
    width: 600px;
    margin: auto;
    border: 2px dashed red;
    padding: 10px;
}
td{
    padding: 3px;
    font-size: 20px;
}
#male{
    color: blue;
}
#female{
    color: pink;
}
#blue{
    color: blue;
}
#brown{
    color: brown;
}
#green{
    color: green;
}
.button{
    background-color: red;
    color: yellow;
    font-size: 25px;
}